{% extends 'shared/base.html' %}

{% block content %}

<div class="container">
    <!--Header Section-->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h1>Fullfill all of your luxury car fantasies</h1>
            <h5>Carpi's gives you fast and reliable access to luxury cars. Optimize your time and your money- get started today!</h5>
        <div>
            <button class="btn btn-primary btn1">Sign Up Now!</button>
            <button class="btn btn-primary btn2">Chat With An Expert</button>
        </div>
        </div>
        <!--Header Image-->
        <div class="col-12 col-md-6">
             <img class= "header-image" src="../static/images/undraw_fast_car_p4cu.svg" alt="Fast Car">
        </div>
    </header>

    <!--Middle Section-->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Finding luxary cars has never been easier.</h2>
            <p>Get easy access to detailed information about luxury cars, 
                including year, make, model, trim, and specifications.</p>
        </div>
    </section>


    <!--COLLECTION-->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../static/images/undraw_order_a_car_3tww.svg" alt="Order Car" id="order-car">
            <h4>Make Orders Easier</h4>
            <p>Searches are quicker and made easier for your convenience.</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../static/images/undraw_Vehicle_sale_a645.svg" alt="Varieties" id="varieties">
            <h4>Many Varieties</h4>
            <p>Choose exactly what you want with a variety of options- no more settling!</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../static/images/undraw_make_it_rain_iwk4.svg" alt="Easy Payment" id="payments">
            <h4>Easy Payments</h4>
            <p>Payments are made easier, faster, and safer. We've got you covered.</p>
        </div>
    </section>

    <!--COMMUNITY-->
    <section class="row col text-center">
        <div class="col-12 col-md-6">
            <img src="../static/images/guarantee.png" alt="Our Guarantee" id="guarantee">
        </div>

        <div class="col-12 col-md-6">
            <h4 class="guarantee-text">Your Satisfaction Guaranteed</h4>
            <p class="guarantee-paragraph">
                At Carpi's we make sure to provide you with the best service and give you authentic results.
                Join us on Github and Slack to find out more!
            </p>
            <div>
                <button class="btn btn-primary btn3">Github</button>
                <button class="btn btn-primary btn4">Slack</button>
            </div>
        </div>
    </section>

    <!--Footer-->
    <footer class="row" id="footer">
        <div class="col2 col-md-2">
            <img src="../static/images/carpi_logo.png" alt="Carpi Logo" id="footer-logo">
        </div>

        <div class="col2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Carpi's?</p>
                <p>The Collection</p>
                <p>Our Sponsers</p>
                <p>Get Involved</p>
                <p>Learn More</p>
            </div>
        </div>

        <div class="col2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Carpi's?</p>
                <p>The Collection</p>
                <p>Our Sponsers</p>
                <p>Get Involved</p>
                <p>Learn More</p>
            </div>
        </div>

        <div class="col2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Carpi's?</p>
                <p>The Collection</p>
                <p>Our Sponsers</p>
                <p>Get Involved</p>
                <p>Learn More</p>
            </div>
        </div>

        <div class="col2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Carpi's?</p>
                <p>The Collection</p>
                <p>Our Sponsers</p>
                <p>Get Involved</p>
                <p>Learn More</p>
            </div>
        </div>

        <div class="col2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Carpi's?</p>
                <p>The Collection</p>
                <p>Our Sponsers</p>
                <p>Get Involved</p>
                <p>Learn More</p>
            </div>
        </div>

    </footer>
</div>

{% endblock content %}